<% content_for :head do %>
<%= stylesheet_link_tag    "home" %>
<%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" %>
<%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Slabo+27px" %>
<!-- <link href='http://fonts.googleapis.com/css?family=Poiret+One|Shadows+Into+Light|Alegreya|Yanone+Kaffeesatz|Roboto+Condensed|Slabo+27px' rel='stylesheet' type='text/css'>
 --><!-- <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'> -->
<% end %>

<div id="all_counters" class="row">
  <% @users.each do |user| %>
    <div class="person_counter">
      <div class="person">
        <%= user.name %>
      </div>
      <div class="counter">
        <%= user.good_count %>
      </div>
    </div>
  <% end %>
</div>

<div id="all_ideas" class="row">
  <table>
    <tr class="header">
      <th class="ideator">Ideator</th>
      <th class="observer">Observer</th>
      <th class="description">Description</th>      
    </tr>
  <% @ideas.each do |idea| %>
    <tr>
      <td class="ideator"><%= idea.ideator ? idea.ideator.name : "" %></td>
      <td class="observer"><%= idea.observer ? idea.observer.name : "" %></td>
      <td class="description"><%= idea.description %></td>
      <td>
        <%= form_tag("/home/delete") do %>
          <input name="idea_id" type="hidden" value="<%= idea.id %>" />
          <%= submit_tag("x", :class => "delete") %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>
</div>

<% user_options = @users.map { |user| [ user.name, user.id ] } %>
<div id="new_idea" class="row">
  <%= form_tag("/home/create") do |form| %>
    <%= label_tag(:ideator_id, "Ideator") %>
    <%= select_tag(:ideator_id, options_for_select(user_options, user_options.first.last)) %>

    <%= label_tag(:observer_id, "Observer") %>
    <%= select_tag(:observer_id, options_for_select(user_options, user_options.first.last)) %>

    <%= label_tag(:description, "Description") %>
    <%= text_field_tag(:description) %>

    <%= submit_tag("Add new idea", :class => "button") %>
  <% end %>
</div>